#- platform: time_date
#  display_options:
#    - 'time'
#    - 'date'
#    - 'date_time'
#    - 'time_date'
#    - 'time_utc'
#    - 'beat'

#- platform: google_travel_time
#  name: Pedro to Home
#  api_key: !secret google_travel_time_api_key
#  origin: device_tracker.gm1913
#  destination: zone.home
#  travel_mode: transit

- platform: london_air
  locations:
    - Islington

- platform: mold_indicator
  name: Living Room Mold
  indoor_temp_sensor: sensor.living_room_climate_temperature
  indoor_humidity_sensor: sensor.living_room_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: mold_indicator
  name: Master Bedroom Mold
  indoor_temp_sensor: sensor.master_bedroom_climate_temperature
  indoor_humidity_sensor: sensor.master_bedroom_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: mold_indicator
  name: Kids Bedroom Mold
  indoor_temp_sensor: sensor.kids_bedroom_climate_temperature
  indoor_humidity_sensor: sensor.kids_bedroom_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: rest
  name: Ender-3 V2 Status
  resource: !secret ender_3_v2_moonraker_url
  json_attributes_path: "$.result.status"
  json_attributes:
    - heater_bed
    - extruder
    - print_stats
    - display_status
    - virtual_sdcard
  value_template: >-
    {{ 'OK' if ('result' in value_json) else None }}

- platform: rest
  name: Trident 300 Status
  resource: !secret trident_300_moonraker_url
  json_attributes_path: "$.result.status"
  json_attributes:
    - heater_bed
    - extruder
    - print_stats
    - display_status
    - virtual_sdcard
  value_template: >-
    {{ 'OK' if ('result' in value_json) else None }}
