#- platform: time_date
#  display_options:
#    - 'time'
#    - 'date'
#    - 'date_time'
#    - 'time_date'
#    - 'time_utc'
#    - 'beat'

#- platform: google_travel_time
#  name: Pedro to Home
#  api_key: !secret google_travel_time_api_key
#  origin: device_tracker.gm1913
#  destination: zone.home
#  travel_mode: transit

- platform: london_underground
  line:
    - Windrush
    - Victoria

- platform: london_air
  locations:
    - Islington

- platform: mold_indicator
  name: Living Room Mold
  indoor_temp_sensor: sensor.living_room_climate_temperature
  indoor_humidity_sensor: sensor.living_room_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: mold_indicator
  name: Master Bedroom Mold
  indoor_temp_sensor: sensor.master_bedroom_climate_temperature
  indoor_humidity_sensor: sensor.master_bedroom_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: mold_indicator
  name: Kids Bedroom Mold
  indoor_temp_sensor: sensor.kids_bedroom_climate_temperature
  indoor_humidity_sensor: sensor.kids_bedroom_climate_humidity
  outdoor_temp_sensor: sensor.islington_temperature
  calibration_factor: 2

- platform: rest
  name: Ender-3 V2 Status
  resource: !secret ender_3_v2_moonraker_url
  json_attributes_path: "$.result.status"
  json_attributes:
    - heater_bed
    - extruder
    - print_stats
    - display_status
    - virtual_sdcard
  value_template: >-
    {{ 'OK' if ('result' in value_json) else None }}

- platform: rest
  name: Trident 300 Status
  resource: !secret trident_300_moonraker_url
  json_attributes_path: "$.result.status"
  json_attributes:
    - heater_bed
    - extruder
    - print_stats
    - display_status
    - virtual_sdcard
  value_template: >-
    {{ 'OK' if ('result' in value_json) else None }}

- platform: template
  sensors:
    lg_smart_tv_is_playing:
      value_template: 0
      icon_template: >-
        {{ 'mdi:pause' if is_state('media_player.lg_smart_tv', 'playing') else 'mdi:play' }}

    ender_3_v2_target_extruder_temp:
      friendly_name: Ender-3 V2 target extruder temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['extruder']['target'] | round(1, default=0) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_actual_extruder_temp:
      friendly_name: Ender-3 V2 actual extruder temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['extruder']['temperature'] | round(1, default=0) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_target_bed_temp:
      friendly_name: Ender-3 V2 target bed temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['heater_bed']['target'] | round(1, default=0) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_actual_bed_temp:
      friendly_name: Ender-3 V2 actual bed temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['heater_bed']['temperature'] | round(1, default=0) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_current_state:
      friendly_name: Ender-3 V2 Current State
      icon_template: mdi:printer-3d
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['print_stats']['state'] if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_job_percentage:
      friendly_name: Ender-3 V2 Job Percentage
      unit_of_measurement: "%"
      icon_template: mdi:file-percent
      value_template: >-
        {{ (states.sensor.ender_3_v2_status.attributes['display_status']['progress'] * 100) | round(1, default=0) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_time_elapsed:
      friendly_name: Ender-3 V2 Time Elapsed
      icon_template: mdi:clock-start
      value_template: >-
        {{ states.sensor.ender_3_v2_status.attributes['print_stats']['print_duration'] | timestamp_custom('%H:%M:%S', 0, default='') if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_time_remaining:
      friendly_name: Ender-3 V2 Time Remaining
      icon_template: mdi:clock-end
      value_template: >-
        {{ (((states.sensor.ender_3_v2_status.attributes['print_stats']['print_duration'] / states.sensor.ender_3_v2_status.attributes['display_status']['progress'] - states.sensor.ender_3_v2_status.attributes['print_stats']['print_duration']) if states.sensor.ender_3_v2_status.attributes['display_status']['progress'] > 0 else 0) | timestamp_custom('%H:%M:%S', 0, default='')) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    ender_3_v2_eta:
      friendly_name: Ender-3 V2 ETA
      value_template: >-
        {{ ((as_timestamp(now()) + 2 * 60 * 60 + ((states.sensor.ender_3_v2_status.attributes['print_stats']['print_duration'] / states.sensor.ender_3_v2_status.attributes['display_status']['progress'] - states.sensor.ender_3_v2_status.attributes['print_stats']['print_duration']) if states.sensor.ender_3_v2_status.attributes['display_status']['progress'] > 0 else 0)) | timestamp_custom("%H:%M:%S", 0, default='')) if is_state('sensor.ender_3_v2_status', 'OK') else None }}

    trident_300_target_extruder_temp:
      friendly_name: Trident 300 target extruder temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['extruder']['target'] | round(1, default=0) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_actual_extruder_temp:
      friendly_name: Trident 300 actual extruder temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['extruder']['temperature'] | round(1, default=0) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_target_bed_temp:
      friendly_name: Trident 300 target bed temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['heater_bed']['target'] | round(1, default=0) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_actual_bed_temp:
      friendly_name: Trident 300 actual bed temp
      unit_of_measurement: "°C"
      device_class: temperature
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['heater_bed']['temperature'] | round(1, default=0) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_current_state:
      friendly_name: Trident 300 Current State
      icon_template: mdi:printer-3d
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['print_stats']['state'] if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_job_percentage:
      friendly_name: Trident 300 Job Percentage
      unit_of_measurement: "%"
      icon_template: mdi:file-percent
      value_template: >-
        {{ (states.sensor.trident_300_status.attributes['display_status']['progress'] * 100) | round(1, default=0) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_time_elapsed:
      friendly_name: Trident 300 Time Elapsed
      icon_template: mdi:clock-start
      value_template: >-
        {{ states.sensor.trident_300_status.attributes['print_stats']['print_duration'] | timestamp_custom('%H:%M:%S', 0, default='') if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_time_remaining:
      friendly_name: Trident 300 Time Remaining
      icon_template: mdi:clock-end
      value_template: >-
        {{ (((states.sensor.trident_300_status.attributes['print_stats']['print_duration'] / states.sensor.trident_300_status.attributes['display_status']['progress'] - states.sensor.trident_300_status.attributes['print_stats']['print_duration']) if states.sensor.trident_300_status.attributes['display_status']['progress'] > 0 else 0) | timestamp_custom('%H:%M:%S', 0, default='')) if is_state('sensor.trident_300_status', 'OK') else None }}

    trident_300_eta:
      friendly_name: Trident 300 ETA
      value_template: >-
        {{ ((as_timestamp(now()) + 2 * 60 * 60 + ((states.sensor.trident_300_status.attributes['print_stats']['print_duration'] / states.sensor.trident_300_status.attributes['display_status']['progress'] - states.sensor.trident_300_status.attributes['print_stats']['print_duration']) if states.sensor.trident_300_status.attributes['display_status']['progress'] > 0 else 0)) | timestamp_custom("%H:%M:%S", 0, default='')) if is_state('sensor.trident_300_status', 'OK') else None }}
